##########################
#Copyright 2020-2021, Stepan Illichevsky (<still.ru@gmail.com>)


d-i debian-installer/locale string ru_RU
d-i debian-installer/locale select ru_RU.UTF-8
d-i debian-installer/language string ru
d-i debian-installer/country string RU
d-i debian-installer/keymap string ru

d-i console-tools/archs select at
d-i console-keymaps-at/keymap select ru
d-i console-setup/toggle string Alt+Shift
d-i console-setup/layoutcode string ru
d-i keyboard-configuration/toggle select Alt+Shift
d-i keyboard-configuration/layoutcode string ru
d-i keyboard-configuration/xkb-keymap select ru
d-i languagechooser/language-name-fb select Russian
d-i countrychooser/country-name select Russia

d-i anna/no_kernel_modules select true

d-i netcfg/choose_interface select auto

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i base-installer/kernel/image string linux-image-generic

d-i netcfg/get_hostname string astra-orel
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string sjsma.home

d-i apt-setup/services-select none
d-i apt-setup/security_host string

d-i netcfg/wireless_wep string

d-i clock-setup/utc boolean true
d-i time/zone string Europe/Moscow
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server 0.pool.ntp.org

#d-i partman-auto/method string regular
#d-i partman-auto/purge_lvm_from_device boolean true
#d-i partman-lvm/confirm boolean true
#d-i partman-auto/choose_recipe select atomic
#d-i partman/confirm_write_new_label boolean true
#d-i partman/choose_partition select finish
#d-i partman/confirm boolean true
#d-i	partman-auto-crypto/erase_disks	boolean	true
#d-i	partman-basicfilesystems/no_swap	boolean	true
#d-i	partman-target/mount_failed	boolean	true
#d-i	partman-partitioning/unknown_label	boolean	true
#d-i	partman-auto/purge_lvm_from_device	string	true
#d-i	partman-lvm/vgdelete_confirm	boolean	true
#d-i	partman/confirm_write_new_label	string	true
#d-i	partman-lvm/confirm	boolean	true
#d-i partman/confirm_nooverwrite boolean true


d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# PartMan LVM Method
 # first drive is selected and selected only.
 # 1. /boot partition size 512mb.
 # 2. swap will be x1.5 of the pysical RAM but not more then 12G.
 # 3. / - root is fixed to 30G.

d-i partman/early_command string \
    debconf-set partman-auto/disk "$(list-devices disk | head -n1)"; \
    debconf-set grub-installer/bootdev "$(list-devices disk | head -n1)"; \
    TMEM=$(($(sed -n 's/^MemTotal: \+\([0-9]*\) kB/\1/p' /proc/meminfo) / 1024)); \
    DSWAP=$(expr $TMEM \* 150 \/ 100); \
     if [ "${DSWAP}" -gt "12288" ]; then \
         DSWAP=12288; \
     fi; \
    debconf-set partman-auto/expert_recipe "boot-root :: \
        300 512 512 ext4 method{ format } \
        \$primary{ } \$bootable{ } \
        format{ } use_filesystem{ } filesystem{ ext4 } \
        mountpoint{ /boot } \
        . \
        ${DSWAP} ${DSWAP} ${DSWAP} linux-swap method{ swap } \
        format{ } \$lvmok{ } lv_name{ swap } \
        . \
        1 1000 10000000000 ext4 method{ lvm } \
        \$lvmok{ } mountpoint{ / } lv_name{ root } \
        format{ } use_filesystem{ } filesystem{ ext4 } \
        options/relatime{ relatime } \
        .";

                                                      
d-i     partman-partitioning/confirm_write_new_label boolean true
d-i     partman/choose_partition select finish
d-i     partman/confirm boolean true
d-i     partman/confirm_nooverwrite boolean true


d-i base-installer/kernel/image string linux-image-generic
d-i base-installer/install-recommends boolean false

d-i passwd/make-user boolean true
d-i passwd/root-password-crypted password $1$wcfuUPwe$rnvj7bzYkfoM8I1nVGc.N0
d-i passwd/user-fullname string vagrant
d-i passwd/username string vagrant
d-i passwd/user-password-crypted password $1$wcfuUPwe$rnvj7bzYkfoM8I1nVGc.N0

d-i debian-installer/allow_unauthenticated string true


tasksel	tasksel/first	multiselect	Base packages, Fly desktop, SSH server
tasksel tasksel/astra-feat-setup multiselect

d-i pkgsel/include string \
                          openssh-server \
                          curl \
                          emacs-nox \
                          python3-pip \
                          build-essential \
                          xterm

d-i	astra-additional-setup/additional-settings	boolean false
d-i desktop-tablet-mode-switch/tablet-mode boolean false

tripwire tripwire/use-localkey boolean false
tripwire tripwire/use-sitekey boolean false
tripwire tripwire/installed note ok
portsentry portsentry/warn_no_block note ok
astra-license astra-license/license boolean true
krb5-config krb5-config/kerberos_servers string
libnss-ldapd libnss-ldapd/ldap-base string
libnss-ldapd libnss-ldapd/ldap-uris string
libnss-ldapd libnss-ldapd/nsswitch multiselect services
ald-client ald-client/make_config boolean false
ald-client ald-client/manual_configure false
astra-feat-setup astra-feat-setup/feat multiselect kiosk mode false
astra-feat-setup astra-feat-setup/feat multiselect Служба ALD false
d-i console-cyrillic/switch select "Клавиша Menu"
d-i console-cyrillic/toggle select Control+Shift
d-i samba-common/dhcp boolean false
d-i samba-common/workgroup string testgroup1

popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true

grub-installer  grub-installer/choose_bootdev   select  /dev/vda
d-i grub-pc/install_devices multiselect /dev/vda

d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/reboot boolean true

d-i preseed/late_command string \
    cd /target; \
    wget http://192.168.1.10:8999/latecommand.sh; \
    chmod +x ./latecommand.sh; \
    chroot ./ ./latecommand.sh; \
    rm -f ./latecommand.sh; \
    sleep 120;
