##########################
#Copyright 2020, Stepan Illichevsky (<still.ru@gmail.com>)


d-i debian-installer/locale string ru_RU
d-i debian-installer/locale select ru_RU.UTF-8
d-i debian-installer/language string ru
d-i debian-installer/country string RU
d-i debian-installer/keymap string ru

d-i console-tools/archs select at
d-i console-keymaps-at/keymap select ru
d-i console-setup/toggle string Alt+Shift
d-i console-setup/layoutcode string ru
d-i keyboard-configuration/toggle select Alt+Shift
d-i keyboard-configuration/layoutcode string ru
d-i keyboard-configuration/xkb-keymap select ru
d-i languagechooser/language-name-fb select Russian
d-i countrychooser/country-name select Russia

d-i anna/no_kernel_modules select true

d-i netcfg/choose_interface select auto

d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i base-installer/kernel/image string linux-image-generic

d-i netcfg/get_hostname string astra-orel
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string sjsma.home

d-i apt-setup/services-select none
d-i apt-setup/security_host string

d-i netcfg/wireless_wep string

d-i clock-setup/utc boolean true
d-i time/zone string Europe/Moscow
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server 0.pool.ntp.org

d-i partman-auto/method string regular
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/confirm boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i	partman-auto-crypto/erase_disks	boolean	true
d-i	partman-basicfilesystems/no_swap	boolean	true
d-i	partman-target/mount_failed	boolean	true
d-i	partman-partitioning/unknown_label	boolean	true
d-i	partman-auto/purge_lvm_from_device	string	true
d-i	partman-lvm/vgdelete_confirm	boolean	true
d-i	partman/confirm_write_new_label	string	true
d-i	partman-lvm/confirm	boolean	true
d-i partman/confirm_nooverwrite boolean true

d-i base-installer/kernel/image string linux-image-generic
d-i base-installer/install-recommends boolean false

d-i passwd/make-user boolean true
d-i passwd/root-password-crypted password $1$wcfuUPwe$rnvj7bzYkfoM8I1nVGc.N0
d-i passwd/user-fullname string vagrant
d-i passwd/username string vagrant
d-i passwd/user-password-crypted password $1$wcfuUPwe$rnvj7bzYkfoM8I1nVGc.N0

d-i debian-installer/allow_unauthenticated string true


tasksel	tasksel/first	multiselect	Base packages, Fly desktop, SSH server
tasksel tasksel/astra-feat-setup multiselect

d-i pkgsel/include string openssh-server \
                          curl \
#                          emacs-nox \
#                          fly-dm \
#                          fly-admin-dm \
#                          fly-wm \
#                          fly-qdm \
#                          fly-fm \
#                          fly-all-network \
#                          fly-admin-wm \
#                          astra-int-check \
#                          network-manager \
#                          network-manager-gnome \
                          xterm

d-i	astra-additional-setup/additional-settings	boolean false
d-i desktop-tablet-mode-switch/tablet-mode boolean false

tripwire tripwire/use-localkey boolean false
tripwire tripwire/use-sitekey boolean false
tripwire tripwire/installed note ok
portsentry portsentry/warn_no_block note ok
astra-license astra-license/license boolean true
krb5-config krb5-config/kerberos_servers string
libnss-ldapd libnss-ldapd/ldap-base string
libnss-ldapd libnss-ldapd/ldap-uris string
libnss-ldapd libnss-ldapd/nsswitch multiselect services
ald-client ald-client/make_config boolean false
ald-client ald-client/manual_configure false
astra-feat-setup astra-feat-setup/feat multiselect kiosk mode false
astra-feat-setup astra-feat-setup/feat multiselect Служба ALD false
d-i console-cyrillic/switch select "Клавиша Menu"
d-i console-cyrillic/toggle select Control+Shift
d-i samba-common/dhcp boolean false
d-i samba-common/workgroup string testgroup1

popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true

grub-installer  grub-installer/choose_bootdev   select  /dev/vda
d-i grub-pc/install_devices multiselect /dev/vda

d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/reboot boolean true

d-i preseed/late_command string \
    in-target sh -c 'mkdir -p --mode=0700 /home/vagrant/.ssh && curl -Lo /home/vagrant/.ssh/authorized_keys "https://raw.github.com/mitchellh/vagrant/master/keys/vagrant.pub" && chmod 0600 /home/vagrant/.ssh/authorized_keys && chown -R vagrant:vagrant /home/vagrant/.ssh'
    in-target sh -c 'mkdir -p --mode=0700 /root/.ssh && curl -Lo /root/.ssh/authorized_keys "https://raw.github.com/mitchellh/vagrant/master/keys/vagrant.pub" && chmod 0600 /root/.ssh/authorized_keys && chown -R root:root /root/.ssh';  \
    in-target sh -c 'sed -i "s/^#PermitRootLogin.*\$/PermitRootLogin prohibit-password/g" /etc/ssh/sshd_config'; \
    in-target sh -c 'sed -i "s/^#PasswordAuthentication.*\$/PasswordAuthentication yes/g" /etc/ssh/sshd_config'; \
    in-target /bin/bash apt-get --yes purge linux-image-4.15.3-2-hardened; \
    in-tagert /bin/bash systemctl enable ssh; \
    in-tagert sh -c 'echo Done'; \
    in-tagret sh -c 'sync';
